* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Staatliches', cursive;
  font-size: 16px;
}

img {
  max-width: 100%;
  margin-bottom: 20px;
}

label {
  font-size: 160%;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  /* make some space to the right and the bottom of the container */
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  /* center the content */
  justify-content: center;
  align-items: center;
}

.search-box {
  display: flex;
  flex-direction: column;
  /* make the search bar the full width */
  align-self: stretch;
  text-align: center;
  /* make some space at the top and the bottom of the search-box */
  margin-top: 45px;
  margin-bottom: 45px;
}

#search {
  height: 60px;
  border-radius: 5px;
  border: 1.5px solid black;
  padding: 5px;
}


.lb-data .lb-close {
  position: absolute;
  top: -35px;
  right: 10px;
}

.lb-data .lb-details {
  float: none;
  text-align: center;
  margin: 5px auto;
}

.lb-data .lb-caption {
  font-size: 20px;
}
