* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Staatliches', cursive;
  font-size: 16px;

  display: flex;
  flex-direction: column;
  /* center the content */
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  margin-bottom: 20px;
}

label {
  font-size: 160%;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  /* make some space to the right and the bottom of the container */
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  /* center the content */
  justify-content: center;
  align-items: center;
}

.search {
  width: 70%;
}

.search-box {
  display: flex;
  flex-direction: column;
  /* make the search bar the full width */
  align-self: stretch;
  text-align: center;
  /* make some space at the top and the bottom of the search-box */
  margin-top: 45px;
  margin-bottom: 45px;
}

#search {
  height: 60px;
  border-radius: 5px;
  border: 1.5px solid gray;
  padding: 5px;
}

.lb-data .lb-caption {
  font-size: 20px;
  line-height: 1.25em;
}

.lb-data .lb-number {
  font-size: 17px;
  margin-top: 10px;
}

@media (min-width: 768px) {

  body {
    display: flex;
    flex-direction: column;
    /* center the content */
    justify-content: center;
    align-items: center;
  }

  img {
    margin-bottom: 45px;
  }

  .gallery {
    justify-content: space-around;
  }

  .container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 65%;
  }

  .hidden-label {
    display: none;
  }

  .search-box {
    width: 40%;
  }
}

@media (min-width: 1024px){

  .container {
    width: 85%;
  }

  .lb-nav a.lb-next,
  .lb-nav a.lb-prev {
    position: absolute;
  }

  .lb-nav a.lb-next {
    right: -115px;
  }

  .lb-nav a.lb-prev {
    left: -115px;
  }

  img[src*='thumb'] {
    padding: 5px 30px;
  }

  .gallery {
    justify-content: center;
  }
}
